 body{
       background-color: black;
       color: white;
 }
.App{
     margin: 50px;
     padding: 10px;
}

.error{
   color: red;
}
.sucess{
  color: green;
}
.name{
 width: 90%;
 padding: 15px;
 background-color: transparent;
 border: 0px solid;
 border-bottom: 1px solid white;
 height: 20px;
 color: #CCC;
}
button{
   width: 100px;
   margin: 10px;
}